include LICENSE
include README.md
include pyproject.toml
include CHANGELOG.md

recursive-include src/**/templates *
recursive-include src/**/static *
recursive-include src/**/migrations *
recursive-include src/**/management *
recursive-include src/**/locale *

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .DS_Store
